.hero{
    padding: 150px 0 385px 0;
    background-image: url('../../img/page/main/main-hero-bg-xl.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-white);
    position: relative;
}
.hero--wrapper {
    display: flex;
    justify-content: space-between;
}
.hero--text {
    max-width: 820px;
}
.hero--text-descr {
    max-width: 691px;
}
.hero--form {
    border: 1px solid var(--outline-gray);
    border-radius: 8px;
    padding: 32px;
    background: var(--primary-white);

    width: 100%;
    max-width: 392px;
}
.hero--form--title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--primary-black);

    margin-bottom: 32px;
}
.hero--form--inputs {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.hero--form--block {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    position: relative;
}

.hero--form--btn{
    margin-top: 35px;
    width: 100%;
}
.hero--img--bg{
    position: absolute;
    bottom: 66px;
}
@media only screen and (max-width: 1400px){
    .hero{
        background-image: url('../../img/page/main/main-hero-bg-md.png');
    }
    .hero--text{
        max-width: 804px;
    }
}
@media only screen and (max-width: 1246px){
    .hero--wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero--text{
        max-width: 898px;
        margin-bottom: 40px;
    }
    .hero--text-descr{
        max-width: 100%;
    }
    .hero--form{
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hero--form--title{
        max-width: 100%;
        width: 100%;
        text-align: left;
    }
    .hero--form--inputs{
        flex-direction: row;
        column-gap: 8px;
    }
    .hero--form--label{
        text-align: left;
    }
    .hero--form--input{
        max-width: 244px;
    }
    .hero--form--btn{
        margin-top: 0;
        max-width: 130px;
        align-self: flex-end;
    }
}
@media only screen and (max-width: 1040px){
    .hero{
        padding: 70px 0 370px 0;
        background-image: url('../../img/page/main/main-hero-bg-mdmin.png');
    }
    .hero--img--bg{
        bottom: 40px;
    }
    .hero--form--input{
        max-width: 235px;
    }
    .hero--form--title{
        font-size: 24px;
    }
    .hero--form--btn{
        max-width: 88px;
    }
}
@media only screen and (max-width: 960px){
    .hero--form--input{
        max-width: 176px;
    }
}
@media only screen and (max-width: 767px){
    .hero--img--bg{
        bottom: 70px;
    }
    .hero{
        background-image: url('../../img/page/main/main-hero-bg-tb.png');
        padding: 70px 0 350px 0;
        background-size: cover;
    }
    .hero--form--title{
        font-size: 20px;
    }
    .hero--form{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .hero--form--inputs{
        flex-direction: column;
    }
    .hero--form--input{
        max-width: 100%;
    }
    .hero--form--btn{
        max-width: 100%;
        margin-top: 24px;
    }
}
@media only screen and (max-width: 480px){
    .hero--img--bg{
        bottom: 50px;
    }
    .hero{
        padding: 40px 0 234px 0;
        background-image: url('../../img/page/main/main-hero-bg-sm.png');
    }
    .hero--text,.hero--form--title{
        margin-bottom: 24px;
    }
    .hero--form{
        padding: 24px;
    }
}

@media only screen and (max-width: 360px){
    .hero{
        padding: 40px 0 150px 0;
        background-image: url('../../img/page/main/main-hero-bg-smmin.png');
    }
}