.h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: var(--primary-black);

    margin-bottom: 14px;
}

.h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--primary-black);

    margin-bottom: 40px;

    .pink{
        color: var(--primary-pink);
    }
}

.h3{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--primary-pink);
}

.h3-black{
    color: var(--primary-black);
}

.text-main{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: var(--primary-black);
    .text-grey{
        color: var(--outline-gray);
    }
}


.margin-title-h1{
    margin-bottom: 14px;
}
.margin-title-h2{
    margin-bottom: 40px;
}
.no-mb{
	margin-bottom: 0;
}
.title-color{
    color: var(--secondary-green);
}

@media only screen and (max-width: 768px){
    .h1{
        font-size: 32px;
    }
    .h2{
        font-size: 24px;
    }
}
@media only screen and (max-width: 480px){
    .h1{
        font-size: 24px;
    }
    .h2{
        font-size: 20px;
    }
    .h3{
        font-size: 17px;
    }
    .text-main{
        font-size: 15px;
    }
}

// @media only screen and (max-width: 360px){

// }




