:root {
	--container-width: 1450px;
	--container-padding: 15px;

	--font-main: "Montserrat", sans-serif;
	--font-accent: "Brygada 1918", sans-serif;
	--font-titles: var(--font-main);
	
	--primary-black: #13201e;
	--primary-pink: #d34f82;
	--primary-white: #fffdfe;
	--secondary-green: #13a152;
	--secondary-gray: #7e7676;
	--outline-gray: #c0bcbc;
	
	--overlay-pink: rgba(194, 110, 183, 0.2);
	--overlay-pink-opacity: rgba(194, 110, 183, 0.3);
	--price-card:rgba(19, 161, 82, 0.1);

    --laptop-size: 1400px;
	--tablet-md-size: 1010px;
	--tablet-sm-size: 768px;
	--mobile-md-size: 480px;
	--mobile-sm-size: 360px;
}
@media only screen and (max-width: 1400px) {
    :root{
        --container-width: 1246px;
	    --container-padding: 15px;
    }
}
@media only screen and (max-width: 1246px){
	:root{
		--container-width: 1040px;
	    --container-padding: 20px;
	}
}
@media only screen and (max-width: 1040px){
	:root{
        --container-width: 960px;
	    --container-padding: 20px;
    }
}
@media only screen and (max-width: 959px){
	:root{
        --container-width: 768px;
	    --container-padding: 20px;
    }
}
@media only screen and (max-width: 728px){
	:root{
        --container-width: 480px;
	    --container-padding: 20px;
    }
}
@media only screen and (max-width: 480px){
	:root{
        --container-width: 100%;
	    --container-padding: 20px;
    }
}
@media only screen and (max-width: 360px){
	:root{
        --container-width: 100%;
	    --container-padding: 12px;
    }
}

// @media only screen and (max-width: 1400px){

// }
// @media only screen and (max-width: 1246px){
    
// }
// @media only screen and (max-width: 1010px){

// }
// @media only screen and (max-width: 767px){

// }
// @media only screen and (max-width: 480px){

// }

// @media only screen and (max-width: 360px){

// }